/**
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * $Id$ mueblesheet.css
 * Universidad de los Andes (Bogotá - Colombia)
 * Departamento de Ingeniería de Sistemas y Computación
 * Licenciado bajo el esquema Academic Free License version 3.0
 *
 * Ejercicio: Muebles de los Alpes
 * 
 * La siguiente plantilla CSS está basada en XP.css la cual es de uso libre
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

/*
=================== Tipos de font, tamaño y color ==============
*/

/* Establece los atributos para el tipo de font, tamaño y color de TODOS los elementos de la página */
body, table
{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 11px;
 color: #000000;
}

/* Estable el tamaño y otros atributos de los fonts para cualquiera de los 'form elements' no ICE. (nota ésto también afectará todo elemento ICE que sea renderizado por cualquiera de los siguientes tags HTML */
input, textarea, select
{
}

/* Estilo de errores */
.error{
    color:red;
}

/* Estilo de tabla compra*/
.order-table{
	border-collapse:collapse;
}

.order-table-header{
	text-align:center;
	background:none repeat scroll 0 0 #E5E5E5;
	border-bottom:1px solid #BBBBBB;
	padding:16px;
}

.order-table-odd-row{
	text-align:center;
	background:none repeat scroll 0 0 #FFFFFFF;
	border-top:1px solid #BBBBBB;
}

.order-table-even-row{
	text-align:center;
	background:none repeat scroll 0 0 #F9F9F9;
	border-top:1px solid #BBBBBB;
}
.firstColumn{
    width: 30%;
}
.secondColumn {
    width: 70%;
}
.secondColumnCombo{
    width: 0%;
}

.resumenCompra_firstColumn{
    width: 33%;
}
.resumenCompra_secondColumn {
    width: 33%;
}
.resumenCompra_TwoColumn {
    width: 66%;
}
.resumenCompra_thirdColumn {
    width: 33%;
}